<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Live Events Through Photos</h1>
    <p class="lead">Can't be there? Watch the photos from the event!</p>
    <img src="assets/images/SpideyNoDslr.png" alt="I'm Martin">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h1 class="page-header">Features:</h1>
      <ul>
        <li>Stream Photos From Instagram by <a href="https://help.instagram.com/158476944298556?sr=1&query=geotag&sid=0UUaQoswExO9p4taW">Geotag</a></li>
        <li>Stream Photos From Instgram by <a href="https://help.instagram.com/351460621611097?sr=3&query=what%20is%20a%20hashtag&sid=01d6gn8IW6YiyOVJ0">Hashtag</a></li>
        <li>Continuously Updates Newly Posted Photos</li>
        <li>Select Number Of Photos In View</li>
        <li>Responsive Design</li>
      </ul>
      <h3 class="page-header">Suggested Uses:</h3>
      <ul>
        <li>Use your home address to checkout local photos</li>
        <li>Enter an event like <strong>#supperbowl, #2015, #Coachella</strong> during the event</li>
        <li>Set up monitors at your party and encourage your guests and photographers to post to your party's hashtag</li>
        <li>Enter a hashtag of a city or neighborhood <strong>#nyc, #busan, #chinatown</strong></li>
      </ul>
      <h3 class='page-header'>Get Started:</h3>     
      <ul><i class="fa fa-map-marker"></i><a ng-href="/location"> Start by selecting a location</a></ul>
      <ul><i class="fa fa-instagram"></i><a  ng-href="/photos"> Start by selecting a hastag</a></ul>
      <h3 class='page-header'>The Inspiration:</h3>
      <p>I was enjoying New Year's Eve with my wife from the comfort and warmth our home and thought of all those people that spent most of their day getting a great spot in Times Square to watch the ball drop.  We can always see the TV coverage, but I thought it would be cool to see what people were posting on their public Instagram feeds as they were posting them.</p>
      <p>I'm planing some updates in the near future and would love to get your feedback!<br> <a href="mailto:martinfullstack@gmail.com">Email Me</a></p>
    </div>
    <div class="col-lg-6">
      <h1 class="page-header">#myDog</h1>
       <img class='pics' src="assets/images/{{awesomeThing}}" alt="{{photoData[imageOne].caption.text}}" />
      <!-- <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">

        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul> -->
    </div>
  </div>
</div>


<footer class="footer">
  <div class="container">
      <p>LiveEventsThroughPhotos v1.0.0 |
        <a href="http://martinbutler.com/">Martin's Website</a> |
         <a href="https://www.linkedin.com/in/martinebutler">LinkedIn</a></p>
  </div>
</footer>
